body {
	background: #000;
	padding: 1px;
}

*:focus {
    outline: 0;
}

h1, p, ul {
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

::selection {
	background: white;
	color:#000;
}

::-moz-selection {
	background:#fff;
	color:#000;
}

#searchWrapperLeft ::selection,
#searchWrapperRight ::selection {
	background: #000;
	color: #fff;
}

#wrapper {
	color: #fff;
	height: 100%;
	margin-top: -310px;
	position: fixed;
	top: 50%;
	width: 100%;
}


/*
	Header Controler Section
 */

header {
	width: 100%;
}

header ul {
	height: 100%;
}

.headerLeft,
.headerRight {
	width: 50%;
	height: 100%;
	position: relative;
}

.headerLeft {
	float: left;
	background: #fde000;
}

.headerRight {
	float: right;
	background: #99dbe8;
}

.tubeTitle {
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	left: 0;
	width: 100%;
	z-index: 100;
}


.tubeName {
	background: none;
	text-align: center;
	height: 40px;
	margin: -20px 0 0 -110px;
	width: 210px;
}

.tubeName p {
	line-height: 1.4em;
}

/************
	Search Box
 ************/
#searchWrapperLeft,
#searchWrapperRight {
	background: #fff;
	display: inline;
	height: 100%;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	visibility: hidden;
	z-index: 1000;
}

#searchWrapperLeft h1,
#searchWrapperRight h1 {
	border: 3px solid #000;
	font-size: 80%;
	left: 20px;
	letter-spacing: .02em;
	padding: 12px;
	position: fixed;
	text-align: center;
	text-transform: uppercase;
	top: 20px;
}

#searchWrapperLeft input,
#searchWrapperRight input {
	border: none;
	border-bottom: 2px solid #000;
	font-size: 24px;
	padding-bottom: 6px;
	width: 700px;
}

.searchCancel {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
}

.searchBoxLeft,
.searchBoxRight {
	color: #000;
	height: 640px;
	margin: -320px auto;
	max-width: 920px;
	position: relative;
	top: 50%;
	z-index: 1002;
}

.cancelButton {
	color: #000;
	cursor: pointer;
	float: right;
	font-family: 'Varela Round', sans-serif;
	font-size: 24px;
	margin-right: 8px;
	text-align: center;
	-webkit-transition: all 0.16s ease-in-out;
	-moz-transition: all 0.16s ease-in-out;
	-o-transition: all 0.16s ease-in-out;
	transition: all 0.16s ease-in-out;
}

.cancelButton:hover {
	color: #ee9285;
}

#searchLeft,
#searchRight {
	display: none;
}

ul.searchListLeft,
ul.searchListRight {
	margin-top: 40px;
	height: 450px;
}

ul.searchListLeft li,
ul.searchListRight li {
	cursor: pointer;
	height: 75px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

ul.searchListLeft li img,
ul.searchListRight li img {
	float: left;
	height: 75px;
	width: 134px;
}

ul.searchListLeft li .youtubeInfo,
ul.searchListRight li .youtubeInfo {
	margin-top: -37px;
	padding: 14px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 81%;
}

.youtubeInfo h3 {
	font-size: 16px;
	letter-spacing: -.04em;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 78%;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}


ul.searchListLeft li:hover .youtubeInfo,
ul.searchListRight li:hover .youtubeInfo {
	background: #000;
	border: 0px solid #000000;
	color: #fff;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-transition: background-color 0.25s linear;
	-moz-transition: background-color 0.25s linear;
	-o-transition: background-color 0.25s linear;
	-ms-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;

}

ul.searchListLeft li p,
ul.searchListRight li p {
	color: #999;
	font-size: 14px;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	width: 65%;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

ul.searchListLeft li:hover p,
ul.searchListRight li:hover p {
	color: #fff;
}

.checked {
	border: solid 2px #000;
	cursor: pointer;
	height: 28px;
	margin-top: -16px;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 50%;
	width: 74px;
	-webkit-transition: border, background-color 0.25s;
	-moz-transition: border, background-color 0.25s;
	transition: border, background-color 0.25s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.checked span {
	color: #000;
	display: block;
	height: 100%;
	position: relative;
	top: -100%;
	-webkit-transition: background-color, top 0.25s;
	-moz-transition: background-color,top 0.25s;
	transition: background-color, top 0.25s;
	width: 100%;
}

.checked.selected img {
	height: 56px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	width: 20px;
}

ul.searchListLeft li:hover .checked.selected,
ul.searchListRight li:hover .checked.selected {
	background-color: #fff;
	border: solid 2px #fff;
}

ul.searchListLeft li:hover .checked span,
ul.searchListRight li:hover .checked span {
	top: 0%;
}


/************
	Audio Visualiser Section
 ************/

#audioApi {
	height: 78px;
	width: 100%;
}

.audioVisual {
	float: left;
	height: 100%;
	position: relative;
	width: 50%;
}

.tubeTime {
	font-weight: 100;
	font-size: 18px;
	height: 20px;
	right: 10px;
	letter-spacing: .04em;
	position: absolute;
	text-align: left;
	top: 10px;
}



/************
	Site Title Section
 ************/
#siteTitle {
	margin: 50px auto;
	max-width: 820px;
	width: 100%;
}

#siteTitle h1 {
	border: 3px solid #fff;
	font-size: 80%;
	left: 20px;
	letter-spacing: .02em;
	padding: 12px;
	position: fixed;
	text-align: center;
	top: 20px;
}

/*
	Video Section
 */
#video {
	height: 450px;
	margin: 0 auto;
	max-width: 820px;
	width: 100%;
}

.tubeVideo {
	float: left;
	height: 0;
	padding-bottom: 28.125%;
	padding-top: 25px;
	position: relative;
	width: 50%;
	max-width: 377px;
}

.tubeLeft {
	float: left;
}

.tubeRight {
	float: right;
}

.tubeVideo iframe {
	border: none;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	height: 100%;
}

iframe.tubeLeft {
	border-right: 1px solid #000;
}

iframe.tubeRight {
	border-left: 1px solid #000;
}


/*
	Controller Section
 */

#controller {
	height: 50px;
	left: 0;
	margin: 0 auto;
	max-width: 820px;
	width: 100%;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	background: #fff;
	border: none;
	height: 30px;
	width: 30px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 4px 11px 0px rgba(47, 50, 50, 0.3);
	-moz-box-shadow: 0px 4px 11px 0px rgba(47, 50, 50, 0.3);
	box-shadow: 0px 4px 11px 0px rgba(47, 50, 50, 0.3);
}

.ui-slider-vertical .ui-slider-handle {
	left: -.6em;
}

.ui-widget-content {
	background: #fff;
	border: inherit;
}

.ui-widget-header {
	background: inherit;
}

#faderSlider.ui-widget-content {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	height: 50px;
	margin: 0 auto;
	width: 100%;
	max-width: 820px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#faderSlider .ui-state-default, 
#faderSlider .ui-widget-content .ui-state-default {
	background: url(images/faderIcon.png) no-repeat center center;
	background-size: 18px;
	height: 46px;
	width: 22px;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
}

#faderSlider.ui-slider-horizontal .ui-slider-handle {
	top: inherit;
}

.faderIcon {
	background: url(images/faderIcon.png);
	position: absolute;
	left: 50%;
	height: 78px;
	width: 26px;
	z-index: 100;
	margin-left: -13px;
}
